@import "../../shared/styles/themes.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  > nb-card {
    width: 370px;
    > nb-card-body {
      > .title {
        position: relative;

        > nb-icon {
          position: absolute;
          top: 59%;
          left: 0px;
          transform: translateY(-50%);
          font-size: 30px;
          cursor: pointer;
        }
      }

      > .logo {
        display: flex;
        min-width: 250px;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid nb-theme(color-basic-disabled);

        > img {
          height: 50px;
          margin-bottom: 25px;
        }
      }

      > .form {
        margin-top: 25px;

        > .esqueciSenha {
          color: nb-theme(color-primary-400);
          font-size: 11px;
          font-weight: bold;
          width: fit-content;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
