<div class="form-group">
    <label for="inputFirstName" class="label" *ngIf="label">{{label}} <span *ngIf="required">*</span></label>
    <input [autocomplete]="autocomplete" type="text" nbInput fullWidth id="inputFirstName" [placeholder]="placeholder" [(ngModel)]="_model"
        (ngModelChange)="onChange(_model)" [mask]="getMask()" [dropSpecialCharacters]="dropCharacters"
        (blur)="onBlur(_model)" [status]="feedbackInput()" [disabled]="disabled">
    <div class="feedbackError mt-2" *ngIf="shouldDisplayError()">{{ getErrorMessage() }}</div>
</div>