<nb-card status="primary" [nbSpinner]="isLoading" size="large" nbSpinnerStatus="primary">
    <nb-card-header>
        Perfil da Unidade de Atendimento
    </nb-card-header>
    <nb-card-body [formGroup]="form">
        <div class="row" style="max-width: 60vw;">
            <div class="col-sm-12 col-md-6">
                <div class="row mb-2">
                    <div class="col-sm-12 align-center py-2">
                        <nb-user [name]="this.form.value.nome || '-'" [picture]="getImage()" title="Consultório">
                        </nb-user>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ngx-input-simple label="Nome" formControlName="nome" [required]="true">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="URL da foto" formControlName="urlFoto">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-mask label="Telefone" type="tel" formControlName="telefone" [dropCharacters]="true">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-12 mb-3">
                        <label class="label d-block mt-1 mb-2">Estado</label>
                        <nb-select fullWidth formControlName="estado"
                            placeholder="Selecione">
                            <nb-option [value]="estado.value" *ngFor="let estado of estados">
                                {{estado.label}}
                            </nb-option>
                        </nb-select>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Cidade" formControlName="cidade">
                        </ngx-input-simple>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="py-2 align-center">
                    <h5>Informações complementares</h5>
                </div>
                <div class="row">
                    <div class="col-sm-12 mt-2">
                        <ngx-input-mask label="Cep" [dropCharacters]="false" type="cep" formControlName="cep">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Bairro" formControlName="bairro">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Logradouro" formControlName="logradouro">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Número" formControlName="numero">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Complemento" formControlName="complemento">
                        </ngx-input-simple>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="basic" (click)="dismiss()">Voltar</button>
    </nb-card-footer>
</nb-card>