<div class="wrapper">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
        <nb-card-body>
            <div class="logo">
                <img src="assets/images/ss.png">
            </div>
            <h4 class="align-center mt-3">Entrar</h4>
            <form (ngSubmit)="logar()" class="form" [formGroup]="form">
                <nb-alert status="danger" *ngIf="msgErro">
                    {{msgErro}}
                </nb-alert>
                <ngx-input-mask [autocomplete]="false" label="CPF" type="cpf" formControlName="cpf" [required]="true"
                    placeholder="000.000.000-00" [dropCharacters]="false">
                </ngx-input-mask>
                <ngx-input-simple label="Senha" type="password" formControlName="senha" [required]="true"
                    placeholder="***********">
                </ngx-input-simple>
                <div class="esqueciSenha ml-auto" (click)="recuperarSenha()">Esqueci minha senha!</div>
                <button type="submit" nbButton fullWidth status="primary" [disabled]="!form.valid">ENTRAR</button>
            </form>
        </nb-card-body>
    </nb-card>
</div>