<nb-card class="mb-0" status="primary" accent="primary">
    <nb-card-header *ngIf="showHeader">
        <div class="header">
            {{dataExtenso}}
        </div>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let item of getDatas(info.horarios)" [ngClass]="{'livre' : !item.consulta && verDiasLivre && !item.bloqueado,
                        'encaixe' : item.consulta && item.consulta.ehEncaixe,
                        'bloqueio' : !item.consulta && item.bloqueado}">
            <div class="campo">
                <ng-container *ngIf="!item.consulta && !item.bloqueado">
                    <div class="hora">
                        {{item.hora}}
                    </div>
                    <div class="button">
                        <button nbButton size="tiny" status="success" (click)="agendarConsulta(item, info, false)">Marcar</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="!item.consulta && item.bloqueado">
                    <div class="hora align-center">
                        {{item.hora}}
                    </div>
                    <div class="button">
                        <button nbButton size="tiny" status="basic"
                            [nbTooltip]="item.observacaoBloqueio || 'Nenhuma observação'" nbTooltipPlacement="right"
                            nbTooltipStatus="basic">
                            <nb-icon icon="lock-outline"></nb-icon>
                            Bloqueado
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.consulta">
                    <div class="hora">
                        {{item.hora}}
                    </div>
                    <div class="paciente">
                        {{item.consulta.nomePaciente}}
                    </div>
                    <div class="status em-atendimento"
                        [ngStyle]="{'background-color': getColorStatus(item.consulta.codigoStatusConsulta)}">
                        {{getNomeStatus(item.consulta.codigoStatusConsulta)}}
                    </div>
                    <div class="button-encaixe">
                        <button nbButton size="tiny" status="warning" (click)="agendarConsulta(item, info, true)">Encaixe</button>
                    </div>
                    <nb-actions class="ml-auto" size="small">
                        <nb-action class="typeConsulta"
                            [ngStyle]="{'background-color': getColorAtendimento(item.consulta.codigoTipoConsulta)}">
                            {{getNomeAtendimento(item.consulta.codigoTipoConsulta)}}</nb-action>
                        <nb-action icon="info-outline" nbTooltip="Informações da Consulta" nbTooltipPlacement="top"
                            nbTooltipStatus="info"></nb-action>
                        <nb-action (click)="alterarStatusConsulta(item)" icon="play-circle-outline"
                            nbTooltip="Alterar Status" nbTooltipPlacement="top" nbTooltipStatus="primary"></nb-action>
                    </nb-actions>
                </ng-container>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>