<nb-card class="mb-0" status="primary" accent="primary">
    <nb-card-header *ngIf="showHeader">
        <div class="header d-flex">
            {{dataExtenso}}
            <div class="ml-auto consultas-num" *ngIf="getCountConsultas().count > 0">
                {{getCountConsultas().mensagem}}
            </div>
        </div>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let item of getDatas(info.horarios); let i = index" [ngClass]="{'livre' : !item.consulta && verDiasLivre && !item.bloqueado,
                        'encaixe' : item.consulta && item.consulta.ehEncaixe,
                        'bloqueio' : !item.consulta && item.bloqueado}">
            <div class="campo">
                <ng-container *ngIf="!item.consulta && !item.bloqueado">
                    <div class="hora">
                        {{item.hora}}
                    </div>
                    <div class="button">
                        <button nbButton size="tiny" status="success"
                            (click)="agendarConsulta(item, info, false)">Marcar</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="!item.consulta && item.bloqueado">
                    <div class="hora align-center">
                        {{item.hora}}
                    </div>
                    <div class="button">
                        <button nbButton size="tiny" status="basic"
                            [nbTooltip]="item.observacaoBloqueio || 'Nenhuma observação'" nbTooltipPlacement="right"
                            nbTooltipStatus="basic">
                            <nb-icon icon="lock-outline"></nb-icon>
                            Bloqueado
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.consulta">
                    <div class="hora">
                        {{item.hora}}
                    </div>
                    <div class="paciente">
                        {{item.consulta.nomePaciente}}
                    </div>
                    <div class="typeConsulta cursor-pointer"
                        [ngStyle]="{'background-color': getColorAtendimento(item.consulta.codigoTipoConsulta)}">
                        {{getNomeAtendimento(item.consulta.codigoTipoConsulta)}}</div>
                    <div class="status cursor-pointer"
                        [ngStyle]="{'background-color': getColorStatus(item.consulta.codigoStatusConsulta)}"
                        [nbTooltip]="(item.consulta.codigoStatusConsulta | status) + getTimerStatus(item.consulta.codigoStatusConsulta, item.consulta.dataStatusConsulta)"
                        nbTooltipPlacement="right" nbTooltipStatus="basic">
                        {{getNomeStatus(item.consulta.codigoStatusConsulta)}}
                    </div>
                    <!-- <button *ngIf="!verDiasLivre" class="ml-auto" nbButton shape="round" size="small" status="basic">?</button> -->
                    <div *ngIf="!verDiasLivre" class="observacao cursor-pointer ml-auto"
                        nbTooltip="OBSERVAÇÃO"
                        nbTooltipPlacement="left" nbTooltipStatus="basic">
                        ?
                    </div>
                    <nb-actions class="ml-auto" size="small" *ngIf="verDiasLivre">
                        <nb-action class="button-encaixe"  *ngIf="showButtonEncaixe(info, i, item)">
                            <button nbButton size="tiny" status="warning"
                                (click)="agendarConsulta(item, info, true)">Encaixe</button></nb-action>
                        <nb-action icon="info-outline" nbTooltip="Informações da Consulta" nbTooltipPlacement="top"
                            nbTooltipStatus="info" (click)="verConsulta(item, info)"></nb-action>
                        <nb-action (click)="alterarStatusConsulta(item)" icon="play-circle-outline"
                            nbTooltip="Alterar Status" nbTooltipPlacement="top" nbTooltipStatus="primary"></nb-action>
                    </nb-actions>
                </ng-container>
            </div>
        </nb-list-item>
    </nb-list>
</nb-card>