<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
    <nb-card-header>
        Adicionar paciente
    </nb-card-header>
    <nb-card-body>
        <nb-alert *ngIf="status" [status]="status === 'sucesso' ? 'success' : 'danger'">
            {{this.msgAlert}}
        </nb-alert>
        <form [formGroup]="form">
            <h6 class="mb-2">INFORMAÇÕES PESSOAIS</h6>
            <div class="row">
                <div class="col-sm-12">
                    <ngx-input-simple label="Nome Completo" formControlName="nome" [required]="true"
                        placeholder="Fulano">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-5">
                    <ngx-input-mask label="CPF" formControlName="cpf" type="cpf" [required]="true"
                        placeholder="000.000.000-00" [dropCharacters]="false"></ngx-input-mask>
                </div>
                <div class="col-sm-5">
                    <ngx-input-mask label="Data de nascimento" type="date" formControlName="nascimento"
                        placeholder="00/00/0000" [dropCharacters]="false"></ngx-input-mask>
                </div>
                <div class="col-sm-2">
                    <ngx-input-mask label="Idade" type="idade" formControlName="idade" placeholder="00">
                    </ngx-input-mask>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="label d-block">Sexo</label>
                    <nb-select fullWidth placeholder="Selecione" [status]="getStatusSexo()" [formControl]="sexo">
                        <nb-option value="M">Masculino</nb-option>
                        <nb-option value="F">Feminino</nb-option>
                        <nb-option value="O">Outros</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-3">
                    <ngx-input-simple label="RG" formControlName="rg"
                        placeholder="RG">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-6">
                    <ngx-input-simple label="Orgão expedidor" formControlName="orgaoExpedidor"
                        placeholder="DETRAN">
                    </ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <ngx-text-area-simple label="Observação" formControlName="observacao" placeholder="Escreva algo">
                    </ngx-text-area-simple>
                </div>
                <div class="col-sm-4">
                    <label class="label d-block mt-1">Como conheceu</label>
                    <nb-select fullWidth placeholder="Selecione" [formControl]="comoConheceu">
                        <nb-option [value]="1">Busca na Web</nb-option>
                        <nb-option [value]="2">Rede Social</nb-option>
                        <nb-option [value]="3">Indicação</nb-option>
                        <nb-option [value]="4">Outros</nb-option>
                    </nb-select>
                </div>
            </div>
            <h6 class="my-3">INFORMAÇÕES DE CONTATO</h6>
            <div class="row">
                <div class="col-sm-12">
                    <ngx-input-simple label="E-mail" formControlName="email" type="email" placeholder="Fulano">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-6">
                    <ngx-input-mask label="Telefone celular" formControlName="celular" type="cel" [required]="true"
                        placeholder="(00) 00000-0000" [dropCharacters]="true"></ngx-input-mask>
                </div>
                <div class="col-sm-6">
                    <ngx-input-mask label="Telefone residencial" type="tel" formControlName="telefone"
                        placeholder="(00) 0000-0000" [dropCharacters]="true"></ngx-input-mask>
                </div>
            </div>
            <h6 class="my-3">INFORMAÇÕES DE ENDEREÇO</h6>
            <div class="row">
                <div class="col-sm-6">
                    <ngx-input-mask label="CEP" type="cep" [dropCharacters]="false" formControlName="cep"
                        placeholder="00.000-000">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-6">
                    <ngx-input-simple label="Endereço" formControlName="logradouro" type="text"
                        placeholder="logradouro">
                    </ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-simple label="Número" formControlName="numero" placeholder="000">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-8">
                    <ngx-input-simple label="Complemento" formControlName="complemento" placeholder="Casa 203">
                    </ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-simple label="Bairro" formControlName="bairro">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-4">
                    <ngx-input-simple label="Cidade" formControlName="cidade">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-4">
                    <ngx-input-simple label="UF" formControlName="uf" maxLength="2">
                    </ngx-input-simple>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <label class="label d-block mb-2">* Campos obrigatórios</label>
        <button (click)="adicionar()" nbButton status="primary" [disabled]="!form.valid">Adicionar
            paciente</button>
    </nb-card-footer>
</nb-card>