<nb-card [nbSpinner]="isLoading" size="small" nbSpinnerStatus="primary" status="primary">
    <nb-card-header>
        Editar Usuário
    </nb-card-header>
    <nb-card-body>
        <div class="row" [formGroup]="form">
            <div class="col-sm-4">
                <ngx-input-simple label="Nome" type="text" formControlName="nome" placeholder="Fulano"
                    [required]="true">
                </ngx-input-simple>
            </div>
            <div class="col-sm-4">
                <ngx-input-simple label="E-mail" formControlName="email" type="email" [required]="true"
                    placeholder="Fulano">
                </ngx-input-simple>
            </div>
            <div class="col-sm-4">
                <ngx-input-simple label="Nome abreviado" formControlName="nomeAbreviado" placeholder="Fulano"
                    [required]="true">
                </ngx-input-simple>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="label d-block">Perfil de Usuário *</label>
                <nb-select class="w-100" [status]="showErrorSelect()" multiple placeholder="Selecione"
                    [formControl]="perfis">
                    <nb-option value="adminsitracao">Administração</nb-option>
                    <nb-option value="estoque">Estoque</nb-option>
                    <nb-option value="faturamento">Faturamento</nb-option>
                    <nb-option value="financeiro">Financeiro</nb-option>
                    <nb-option value="medico">Médico</nb-option>
                    <nb-option value="recepcao">Recepção</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <label class="label mb-2 d-block">* Campos obrigatórios</label>
        <button class="mr-4" nbButton status="basic" (click)="dismiss()">Voltar</button>
        <button nbButton status="primary" (click)="editar()" [disabled]="!form.valid || !perfis.valid">Editar</button>
    </nb-card-footer>
</nb-card>