@import "../../../shared/styles/themes.scss";

.button-add {
  margin-top: 27.3px;
}

:host /deep/ nb-user div.user-container div.user-picture {
  background-position: center;
}

.content {
    background-color: nb-theme(color-primary-100);
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    border-radius: 3px;
    border: 1px solid nb-theme(color-primary-200);

    &.margin-hora {
        @media only screen and (max-width: 575px) {
            margin-top: 15px;
        }
    }

    > nb-icon {
        font-size: 38px;
    }
}
