<nb-card status="primary" size="large" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-header class="d-flex">
    Agendar consulta
  </nb-card-header>
  <nb-card-body [formGroup]="form">
    <div class="row">
      <div class="col-sm-7">
        <ngx-input-autocomplete *ngIf="!adcNovoPacienteActive" formControlName="paciente" [pacientes]="pacientes"
          label="Buscar paciente" [required]="true" placeholder="Busque um paciente pelo nome"
          (selectItem)="selecionarPaciente($event)" (adicionar)="adicionarPaciente()"></ngx-input-autocomplete>
        <ngx-input-simple *ngIf="adcNovoPacienteActive" label="Nome" [required]="camposRequired" [feedback]="true"
          formControlName="paciente" placeholder="Nome do paciente"></ngx-input-simple>
      </div>
      <div class="col-sm-5 button-add">
        <button nbButton *ngIf="!adcNovoPacienteActive" status="primary" fullWidth (click)="adicionarPaciente()"
          [attr.disabled]="disabledButtonAddPaciente() ? true : undefined">Adicionar paciente</button>
        <button nbButton *ngIf="adcNovoPacienteActive" status="primary" fullWidth (click)="buscarPaciente()">Buscar
          paciente</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="py-3">
          <nb-user [name]="medico.nome" [picture]="medico.urlFoto" title="Médico"></nb-user>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="py-3">
          <nb-user [name]="consultorio.nome" [picture]="consultorio.urlFoto" title="Consultório"></nb-user>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="content">
          <nb-icon icon="calendar-outline"></nb-icon>
          <span class="ml-3">{{data.data | date:'YYYY-MM-DD'}}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="content margin-hora">
          <nb-icon icon="clock-outline"></nb-icon>
          <span class="ml-3">{{data.hora}}</span>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6 mb-3">
        <label class="label d-block mt-1">Especialidade *</label>
        <nb-select fullWidth formControlName="especialidade" placeholder="Selecione">
          <nb-option [value]="item.id" *ngFor="let item of especialidades">{{item.nome}}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-sm-6 mb-3">
        <label class="label d-block mt-1">Tipo do atendimento *</label>
        <nb-select fullWidth formControlName="tipoAtendimento" placeholder="Selecione">
          <nb-option [value]="atendimento.id" *ngFor="let atendimento of tiposAtendimento">{{atendimento.nome}}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ngx-input-mask label="Data de nascimento" type="date" [feedback]="true"
          formControlName="nascimento" [dropCharacters]="false" placeholder="00/00/0000">
        </ngx-input-mask>
      </div>
      <div class="col-sm-6">
        <ngx-input-mask label="CPF" type="cpf" [required]="camposRequired" [feedback]="true" formControlName="cpf"
          [dropCharacters]="false" placeholder="000.000.000-00">
        </ngx-input-mask>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ngx-input-mask label="Telefone" type="tel" [feedback]="true"
          formControlName="telefone" [dropCharacters]="true" placeholder="(00) 0000-0000">
        </ngx-input-mask>
      </div>
      <div class="col-sm-6">
        <ngx-input-mask label="Celular" type="cel" [required]="camposRequired" [feedback]="true"
          formControlName="celular" [dropCharacters]="true" placeholder="(00) 00000-0000">
        </ngx-input-mask>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ngx-text-area-simple label="Observação" formControlName="observacao">
        </ngx-text-area-simple>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <label class="label mb-2 d-block">* Campos obrigatórios</label>
    <div class="d-flex">
      <button class="mr-3" nbButton status="basic" (click)="dismiss()">Voltar</button>
      <button nbButton status="primary" (click)="adcNovoPacienteActive ? criarConsultaNovoPaciente() : criarConsultaPacienteExistente()"
        [attr.disabled]="!shouldDisabledButton() ? true : undefined">Marcar consulta</button>
      <button class="ml-auto" nbButton status="info" (click)="editarPaciente()" [disabled]="!person">Editar Paciente</button>
    </div>
  </nb-card-footer>
</nb-card>