@import "../../../shared/styles/themes.scss";

.title {
  font-size: 20px;
}

.tempo {
  padding: 2px 16px;
  background-color: nb-theme(color-basic-500);
  border-radius: 6px;
  font-size: 21px;
}

nb-list-item:first-child {
  border-top: none;
}

nb-list-item {
  border: none;
}

.subMenu {
  &.active {
    border-right: 3px solid nb-theme(color-primary-500);
  }

  &:hover {
    background-color: nb-theme(color-primary-200);
    cursor: pointer;
  }
}

nb-list-item:last-child {
  border-bottom: none;
}

.group-form {
  margin-top: 20px;

  &:first-child {
    margin-top: 0px;
  }
}

.container-documentos {
  border: 1px solid #ccc;
  height: 330px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0px;
  right: 15px;
  height: 30px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 102px;
  border: 1px solid #ccc;
  padding-right: 6px;

  > nb-icon {
    margin-left: 10px;
    cursor: pointer;
  }
}

.tabs-card {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea; 
  margin-left: 0px !important;
  margin-right: 0px !important;

  > .tab {
    padding: 20px 0px;
    transform: translate(0px, 2px);
    font-weight: bold;
    border-bottom: 4px solid transparent;

    &.active {
      border-bottom: 4px solid nb-theme(color-primary-500);
      color: nb-theme(color-primary-500);
    }

    &:hover {
      color: nb-theme(color-primary-500);
      border-bottom: 4px solid nb-theme(color-primary-300);
      cursor: pointer;
    }
  }
}

.warning {
  animation: warning 5s infinite;
  animation-fill-mode: backwards;
}

.danger {
  animation: danger 5s infinite;
  animation-fill-mode: backwards;
}

@keyframes warning {
  0% {
    background-color: nb-theme(color-basic-500);
    transform: scale(1.0);
  }

  50% {
    background-color: nb-theme(color-warning-500);
    transform: scale(1.1);
  }

  100% {
    background-color: nb-theme(color-basic-500);
    transform: scale(1.0);
  }
}

@keyframes danger {
  0% {
    background-color: nb-theme(color-basic-500);
    transform: scale(1.0);
  }

  50% {
    background-color: red;
    transform: scale(1.1);
  }

  100% {
    background-color: nb-theme(color-basic-500);
    transform: scale(1.0);
  }
}