<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
    <nb-card-header class="d-flex vertical-align">
        <div class="mr-auto title">
            Atendimento
        </div>
        <div class="ml-auto tempo">
            {{tempo}}
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-4">
                <nb-card class="mb-0">
                    <nb-card-body class="p-0">
                        <nb-list>
                            <nb-list-item *ngFor="let item of menu">
                                {{ item.label }}
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-sm-8" [formGroup]="form" *ngIf="lista">
                <nb-card class="mb-0 group-form" *ngFor="let item of lista">
                    <nb-card-header>{{item.title}}</nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item class="cursor-pointer" *ngFor="let subItem of item.children">
                                <ngx-input-simple [feedback]="false" [label]="subItem.label" type="text"
                                    [formControlName]="subItem.control">
                                </ngx-input-simple>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-card-body>
</nb-card>