<div class="header">
    <div class="d-flex">
        <div class="eixo-hora-header"></div>
        <div class="dataSemana" *ngFor="let item of dias; let i = index">
            <div class="group" (click)="selecionarData(item)"
                [ngClass]="{'active' : item.diaCompleta === dataAtualFormatada}">
                <span>{{item.data.curto.toUpperCase()}}</span>
                <div class="dia">
                    {{item.dia}}/{{item.mes.curto.toLowerCase()}}
                </div>
            </div>
        </div>
    </div>
    <div class="decorator">
        <div class="eixo-hora-header-decorator"></div>
        <div class="decorator-cell" *ngFor="let dia of obterArray(5); let i = index"></div>
    </div>
</div>
<div class="wrapper">
    <div class="corpo">
        <div class="eixo-dia" *ngFor="let dia of data;">
            <div class="agendamento" *ngFor="let item of dia.horarios" [ngClass]="obterClassesAgendamento(item)">
                <ng-container *ngIf="!item.consulta && !item.bloqueado">
                    <div class="card-agendamento-header">
                        <div>
                            <div class="hora">{{item.hora}}</div>
                            <button (click)="agendar(item, dia, false)" class="ml-auto" nbButton size="tiny"
                                status="success">Marcar</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!item.consulta && item.bloqueado">
                    <div class="card-agendamento-header">
                        <div>
                            <div class="hora">{{item.hora}}</div>
                            <div class="bloqueio">
                                <button nbButton status="basic" size="tiny"
                                    [nbTooltip]="item.observacaoBloqueio || 'Nenhuma observação'"
                                    nbTooltipPlacement="top" nbTooltipStatus="basic">
                                    <nb-icon icon="lock-outline"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.consulta">
                    <div class="card-marcacao">
                        <div class="linha">
                            <div class="hora">{{item.hora}}</div>
                            <div class="w-100">
                                <nb-actions size="tiny" class="">
                                    <nb-action class="status-descricao"
                                        [ngStyle]="{'background-color': getColorStatus(item.consulta.codigoStatusConsulta)}"
                                        [nbTooltip]="item.consulta.codigoStatusConsulta | status"
                                        nbTooltipPlacement="top" nbTooltipStatus="basic">
                                        <span
                                            class="text-truncate cursor-pointer">{{getNomeStatus(item.consulta.codigoStatusConsulta)}}</span>
                                    </nb-action>
                                    <nb-action (click)="alterarStatusConsulta(item, dia.data)"
                                        class="alterar-status-icon" icon="play-circle-outline"
                                        nbTooltip="Alterar Status" nbTooltipPlacement="top" nbTooltipStatus="primary">
                                    </nb-action>
                                </nb-actions>
                            </div>
                        </div>
                        <div class="info-pessoal">
                            <div class="text-truncate nome" (click)="verConsulta(item)" nbTooltip="Detalhes da consulta"
                                nbTooltipPlacement="bottom" nbTooltipStatus="info">{{item.consulta.nomePaciente}}</div>
                            <nb-icon [ngStyle]="{'color': getColorAtendimento(item.consulta.codigoTipoConsulta)}"
                                icon="radio-button-on"
                                [nbTooltip]="getNomeAtendimento(item.consulta.codigoTipoConsulta)"
                                nbTooltipPlacement="left" nbTooltipStatus="basic"></nb-icon>
                        </div>
                    </div>
                    <div class="encaixe align-center" *ngIf="dia.totalEncaixesPermitidos > 0">
                        <button (click)="agendar(item, dia, true)" nbButton size="tiny" status="warning">Encaixe</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>