.collapsible {
  overflow: hidden;

  > .collapsible-header {
    position: relative;

    > nb-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) !important;
      right: -5px;
      transition: 0.3s all;
      cursor: pointer;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}

.collapsible-content {
  max-height: 0;
  transition: max-height 0.4s;
  overflow: hidden;
}

.collapsible-content-spacing {
  padding-top: 1.5rem;
}
