<div class="collapsible" [ngClass]="{'fixCollapsible' : defaultStyle}" [class.is-open]="isOpen">
    <div class="collapsible-header" (click)="toggle()">
        <ng-content select="[header]"></ng-content>
        <nb-icon [icon]="isOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></nb-icon>
    </div>
    <div class="label" *ngIf="displayLabel" (click)="toggle()">{{isOpen ? labelClose : labelOpen}}</div>
    <div #content class="collapsible-content">
        <ng-content #conteudo select="[body]"></ng-content>
    </div>
</div>