<ul class="timeline" *ngIf="data.length > 0">
    <li *ngFor="let item of data">
        <nb-card status="basic">
            <nb-card-header>
                dawdad
            </nb-card-header>
            <nb-card-body>
                <ngx-collapsible [displayLabel]="false">
                    <div header class="cursor-pointer header-collapsible">
                        Detalhes
                    </div>
                    <div body>
                        <div class="row">
                            <div class="col-sm">Body</div>
                            <div class="col-sm">Body</div>
                            <div class="col-sm">Body</div>
                        </div>
                    </div>
                </ngx-collapsible>
            </nb-card-body>
        </nb-card>
    </li>
</ul>