<ul class="timeline">
    <li *ngFor="let item of paciente.consultas">
        <nb-card status="basic">
            <nb-card-header>
                {{item.medico}} - {{formatarData(item.data)}} às {{item.hora}}
            </nb-card-header>
            <nb-card-body>
                <ngx-collapsible [displayLabel]="false">
                    <div header class="cursor-pointer header-collapsible">
                        Anamnese
                    </div>
                    <div body>
                        <ng-container *ngIf="item.consultaAnamnese">
                            <div *ngFor="let anamense of getAnamnesia(item.consultaAnamnese)">
                                <div class="titulo-anamnese">{{anamense.title}}</div>
                                <ng-container *ngFor="let subAnamnese of anamense.children">
                                    <div>{{subAnamnese.label}}: {{subAnamnese.value}}</div>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!item.consultaAnamnese">
                            Não tem nenhuma anamnese cadastrada
                        </ng-container>
                    </div>
                </ngx-collapsible>
                <ngx-collapsible [displayLabel]="false" [disableIcon]="false">
                    <div header class="cursor-pointer header-collapsible">
                        Documentos
                    </div>
                    <div body>
                        <ng-container *ngIf="!item.consultasTemplatesDocumentos.length">
                            Não tem nenhum documento anexado
                        </ng-container>
                        <ng-container *ngIf="item.consultasTemplatesDocumentos.length">
                            <ng-container *ngFor="let template of item.consultasTemplatesDocumentos">
                                <div class="titulo-documento">{{obterNomeDocumento(template.titulo)}}</div>
                                <div class="corpo-documento"
                                    *ngFor="let subTemplate of template.templates; let i = index">
                                    <div class="d-flex">
                                        <div class="mr-auto">Documento - {{i + 1}}</div>
                                        <nb-icon class="ml-auto mr-2 icon cursor-pointer" (click)="printDoc(subTemplate.textoHtml)" icon="printer-outline"></nb-icon>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ngx-collapsible>
            </nb-card-body>
        </nb-card>
    </li>
</ul>