<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" size="large" status="primary">
    <nb-card-header>
        Perfil da Agenda
    </nb-card-header>
    <nb-card-body [formGroup]="form">
        <div class="row">
            <div class="col-sm-6 align-center">
                <nb-user [name]="medico.nome" [picture]="medico.urlFoto" title="Médico"></nb-user>
            </div>
            <div class="col-sm-6">
                <ngx-input-simple label="Consultório" formControlName="consultorio"></ngx-input-simple>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ngx-input-simple label="Especialidade" formControlName="especialidade"></ngx-input-simple>
            </div>
            <div class="col-sm-6">
                <ngx-input-simple label="Dia da semana" formControlName="diaSemana"></ngx-input-simple>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ngx-input-simple label="Início da vigência" formControlName="inicioVigencia"></ngx-input-simple>
            </div>
            <div class="col-sm-6">
                <ngx-input-simple label="Fim da vigência" formControlName="fimVigencia"></ngx-input-simple>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ngx-input-simple label="Hora Início" formControlName="horaInicio"></ngx-input-simple>
            </div>
            <div class="col-sm-6">
                <ngx-input-simple label="Hora Fim" formControlName="horaFim"></ngx-input-simple>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ngx-input-simple label="Total de encaixes" formControlName="encaixes"></ngx-input-simple>
            </div>
            <div class="col-sm-6">
                <ngx-input-simple label="Duração (Em minutos)" formControlName="duracao"></ngx-input-simple>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="mr-4" nbButton status="basic" (click)="dismiss(false)">Voltar</button>
    </nb-card-footer>
</nb-card>