<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-header>
    <section>PACIENTE</section>
    <h1>{{user?.nome ? user?.nome + ' ' + user?.ultimoNome : '-'}}</h1>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-lg-4 col-md-5 col-sm-12">
        <nb-card status="primary" size="medium">
          <nb-card-header>
            Histórico de atendimento
          </nb-card-header>
          <nb-card-body>
            <ngx-timeline></ngx-timeline>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12 col-lg-8 col-md-7 col-sm-12">
        <nb-tabset fullWidth>
          <nb-tab tabTitle="Pessoal" tabIcon="person-outline">
            Informações pessoais
          </nb-tab>
          <nb-tab tabTitle="Contato" tabIcon="phone-outline">
            Informações de contato
          </nb-tab>
          <nb-tab tabTitle="Endereço" tabIcon="home-outline">
            Informações de endereço
          </nb-tab>
        </nb-tabset>
      </div>
    </div>
  </nb-card-body>
</nb-card>