<div class="form-group">
    <label class="label" *ngIf="label">{{label}} <span *ngIf="required">*</span></label>
    <input (keyup)="keyUp($event)" [ngClass]="{'active-list' : showList}" type="text" nbInput
        fullWidth [placeholder]="placeholder" [(ngModel)]="_model" (ngModelChange)="onChange(_model)"
        (blur)="onBlur($event)">
    <div class="list" *ngIf="showList">
        <ng-container *ngIf="listaFiltrada.length">
            <div class="option-list" *ngFor="let person of listaFiltrada" (click)="selecionar(person)"
                (mouseenter)="mouseEnterData($event, person)" (mouseleave)="mouseLeaveData($event)">
                {{person.nome}}
            </div>
        </ng-container>
        <div class="button-add" *ngIf="!listaFiltrada.length">
            <div class="msgErro">Nenhum paciente encontrado</div>
            <button nbButton status="primary" size="small" (click)="novoPaciente()" fullWidth>Adicionar um novo
                paciente</button>
        </div>
    </div>
    <div class="profile" *ngIf="showProfile">
        <nb-list>
            <nb-list-item>
                <div class="dado">
                    <label class="label d-block mb-1">Nome</label>
                    <div class="text-truncate">{{profile.nome || '-'}}</div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="dado">
                    <label class="label d-block mb-1">E-mail</label>
                    <div class="text-truncate">{{profile.email || '-'}}</div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="dado">
                    <label class="label d-block mb-1">CPF</label>
                    <div class="text-truncate">{{(profile.cpf | cpf) || '-'}}</div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="dado">
                    <label class="label d-block mb-1">Celular</label>
                    <div class="text-truncate">{{(profile.celular | telefone) || '-' }}</div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="dado">
                    <label class="label d-block mb-1">Telefone</label>
                    <div class="text-truncate">{{(profile.telefone | telefone) || '-'}}</div>
                </div>
            </nb-list-item>
        </nb-list>
    </div>
</div>