@import "../../../shared/styles/themes.scss";

.linhaLegenda {
  display: flex;

  > .item {
    height: 24px;
    width: 24px;
    border-radius: 5px;

    &.livre {
      background-color: nb-theme(color-success-100);
      border: 1px solid nb-theme(color-success-800);
    }

    &.encaixe {
      background-color: nb-theme(color-warning-200);
      border: 1px solid nb-theme(color-warning-800);
    }

    &.em-atendimento {
      background-color: nb-theme(color-danger-500);
      border: 1px solid nb-theme(color-danger-800);
    }
  }

  > .icon {

    &.revisao {
        color: nb-theme(color-primary-500);
    }
  }

  > .value {
    font-size: 15px;
  }
}
