<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" status="primary" size="medium">
    <nb-card-header>
        Perfil do Usuário
    </nb-card-header>
    <nb-card-body [formGroup]="form">
        <div class="fix-modal">
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-simple [feedback]="false" label="Nome" type="text" formControlName="nome">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-3">
                    <ngx-input-simple [feedback]="false" label="E-mail" formControlName="email" type="email">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask [feedback]="false" label="CPF" formControlName="cpf" type="cpf"
                        [dropCharacters]="false">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-2">
                    <ngx-input-simple [feedback]="false" label="CRM" formControlName="crm" type="text">
                    </ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="label d-block">Perfil de Usuário</label>
                    <nb-select class="w-100" [status]="showErrorSelect()" multiple [formControl]="perfis">
                        <nb-option value="administracao">Administração</nb-option>
                        <nb-option value="medico">Médico</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask [feedback]="false" label="Telefone Residencial" formControlName="telefone"
                        type="tel">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask [feedback]="false" label="Telefone Celular" formControlName="celular" type="cel">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-2 align-center">
                    <nb-checkbox class="mt-2" status="primary" formControlName="status">Ativo</nb-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-mask [feedback]="false" label="Data de nascimento" type="date"
                        formControlName="nascimento" [dropCharacters]="false"></ngx-input-mask>
                </div>
                <div class="col-sm-2">
                    <ngx-input-simple [feedback]="false" label="Idade" formControlName="idade"></ngx-input-simple>
                </div>
                <div class="col-sm-6">
                    <ngx-input-simple [feedback]="false" label="URL da foto" formControlName="urlFoto">
                    </ngx-input-simple>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button class="mr-4" nbButton status="basic" (click)="dismiss({sucesso: null, mensagem: null})">Voltar</button>
    </nb-card-footer>
</nb-card>