:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host ::ng-deep tbody tr td.ng2-smart-actions {
  text-align: center;
}

:host /deep/ nb-user div.user-container div.user-picture {
  background-position: center;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em;
  border-right: none !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action .nb-edit:hover {
  color: #201dd3;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action .nb-search:hover {
  color: #059b00 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action .nb-trash:hover {
  color: #ff0000 !important;
}

:host ::ng-deep ng2-smart-table td.ng2-smart-actions {
  height: auto !important;
}

:host ::ng-deep ng2-smart-table table tr td {
  padding: 0.875rem 1.25rem !important;
}

nb-card-body {
  padding: 5px 0 0px 0;
}

nb-tabset > nb-tab {
  padding-bottom: 30px;
}

.msgErro {
  font-size: 16px;
  font-weight: bold;
}

nb-list-item {
  display: flex;
  align-items: center;

  > nb-icon {
    font-size: 30px;
  }
}

nb-list-item:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  transition: all 0.2s;
}

nb-list-item:first-child {
  border-top: none;
}

nb-list-item:last-child {
  border-bottom: none;
}

.title {
  display: flex;
  align-items: center;
}

.header {
  > nb-icon {
    margin-top: 5px;
    font-size: 30px;
    cursor: pointer;
  }
}
