<nb-card status="primary" size="large" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
    <nb-card-header>
        Adicionar Usuário
    </nb-card-header>
    <nb-card-body [formGroup]="form">
        <!-- <div class="fix-modal">
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-simple label="Nome" [required]="true" type="text" formControlName="nome"
                        placeholder="Fulano">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-3">
                    <ngx-input-simple label="E-mail" formControlName="email" type="email" placeholder="Fulano">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask label="CPF" [required]="true" placeholder="000.000.000-00" formControlName="cpf"
                        type="cpf" [dropCharacters]="false">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-2">
                    <ngx-input-simple label="CRM" formControlName="crm" type="text">
                    </ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label class="label d-block">Perfil de Usuário</label>
                    <nb-select class="w-100" [status]="showErrorSelect()" multiple placeholder="Selecione"
                        [formControl]="perfis">
                        <nb-option value="administracao">Administração</nb-option>
                        <nb-option value="medico">Médico</nb-option>
                        <nb-option value="financeiro">Financeiro</nb-option>
                        <nb-option value="recepcionista">Recepcionista</nb-option>
                    </nb-select>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask label="Telefone Residencial" formControlName="telefone" type="tel">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-3">
                    <ngx-input-mask label="Telefone Celular" [required]="true" formControlName="celular" type="cel">
                    </ngx-input-mask>
                </div>
                <div class="col-sm-2 align-center">
                    <nb-checkbox class="mt-2" status="primary" formControlName="status">Ativo</nb-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ngx-input-mask label="Data de nascimento" [required]="true" type="date"
                        formControlName="nascimento" placeholder="00/00/0000" [dropCharacters]="false"></ngx-input-mask>
                </div>
                <div class="col-sm-2">
                    <ngx-input-simple label="Idade" formControlName="idade"></ngx-input-simple>
                </div>
                <div class="col-sm-6">
                    <ngx-input-simple label="URL da foto" formControlName="urlFoto"></ngx-input-simple>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ngx-input-simple label="Senha" type="password" [required]="true" formControlName="senha">
                    </ngx-input-simple>
                </div>
                <div class="col-sm-6">
                    <ngx-input-simple label="Confirmar senha" type="password" [required]="true"
                        formControlName="confSenha"></ngx-input-simple>
                </div>
            </div>
        </div> -->
        <div class="row" style="max-width: 60vw;">
            <div class="col-sm-12 col-md-6 border-right">
                <div class="row mb-2">
                    <div class="col-sm-12 align-center py-2">
                        <nb-user [name]="form.value.nome || '-'" [picture]="getImage()" [title]="getTitle()"></nb-user>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ngx-input-simple label="Nome" formControlName="nome"></ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="URL da foto" formControlName="urlFoto"></ngx-input-simple>
                    </div>
                    <div class="col-sm-8">
                        <ngx-input-mask label="CPF" [required]="true" placeholder="000.000.000-00" formControlName="cpf"
                            type="cpf" [dropCharacters]="false">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-4 align-center">
                        <nb-checkbox class="mt-2" status="primary" formControlName="status">Ativo</nb-checkbox>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-mask label="Telefone Celular" [required]="true" formControlName="celular" type="cel">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-mask label="Data de nascimento" [required]="true" type="date"
                            formControlName="nascimento" placeholder="00/00/0000" [dropCharacters]="false">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Senha" type="password" [required]="true" formControlName="senha">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Confirmar senha" type="password" [required]="true"
                            formControlName="confSenha"></ngx-input-simple>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="py-2 align-center">
                    <h5>Informações complementares</h5>
                </div>
                <div class="row">
                    <div class="col-sm-12 mt-2">
                        <ngx-input-simple label="E-mail" formControlName="email" type="email" placeholder="Fulano">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="CRM" formControlName="crm" type="text" [required]="requiredCrm">
                        </ngx-input-simple>
                    </div>
                    <div class="col-sm-12 mt-1 mb-3">
                        <label class="label d-block">Perfil de Usuário</label>
                        <nb-select fullWidth class="w-100" [status]="showErrorSelect()" multiple placeholder="Selecione"
                            [formControl]="perfis">
                            <nb-option value="administracao">Administração</nb-option>
                            <nb-option value="medico">Médico</nb-option>
                            <nb-option value="financeiro">Financeiro</nb-option>
                            <nb-option value="recepcionista">Recepcionista</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-mask label="Telefone Residencial" formControlName="telefone" type="tel">
                        </ngx-input-mask>
                    </div>
                    <div class="col-sm-12">
                        <ngx-input-simple label="Idade" formControlName="idade"></ngx-input-simple>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <label class="label mb-2 d-block">* Campos obrigatórios</label>
        <button class="mr-4" nbButton status="basic" (click)="dismiss({sucesso: null, mensagem: null})">Voltar</button>
        <button nbButton status="primary" (click)="adicionar()" [disabled]="!disabledButton()">Adicionar</button>
    </nb-card-footer>
</nb-card>