<nb-card>

    <nb-card-header>
        Listagem de Pacientes
    </nb-card-header>

    <nb-card-body>
        <div class="mb-4 d-flex">
            <div>
                <ngx-input-simple [feedback]="false" [(ngModel)]="search" (ngModelChange)="onSearch(search)" placeholder="Busque alguem...">
                </ngx-input-simple>
            </div>
            <div class="ml-auto">
                <button nbButton (click)="adicionarPaciente()" status="primary">Adicionar Paciente</button>
            </div>
        </div>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="customAction($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>