:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host /deep/ tbody tr td.ng2-smart-actions {
    text-align: center;
    padding-top: 10px;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em;
  border-right: none !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action .nb-edit:hover {
  color: #201dd3;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action .nb-trash:hover {
  color: #ff0000 !important;
}

:host /deep/ ng2-st-tbody-custom a.ng2-smart-action .nb-person:hover {
  color: #059b00 !important;
}
