<ul class="timeline" *ngIf="data.length > 0">
    <li *ngFor="let item of data">
        <nb-card status="basic">
            <nb-card-header>
                {{item.medico}}
            </nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="calendar-outline"></nb-icon>
                        <span class="item">{{ item.data | date:'YYYY-MM-DD' }}, {{item.hora}}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="pin-outline"></nb-icon>
                        <span class="item">{{ item.consultorio }}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="briefcase-outline"></nb-icon>
                        <span class="item">{{ item.especialidade }}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="credit-card-outline"></nb-icon>
                        <span class="item">{{ item.formaPagamento }} - {{ item.valor | currency: 'R$' }}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="clock-outline"></nb-icon>
                        <span class="item">{{ item.tipoConsulta || '-' }}</span>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </li>
</ul>

<ng-container *ngIf="data.length === 0">
    Não tem nenhum histórico
</ng-container>