<ul class="timeline">
    <li *ngFor="let item of data">
        <nb-card status="basic">
            <nb-card-header>
                {{item.medico}}
            </nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item class="p-2 center">
                        <nb-icon icon="calendar-outline"></nb-icon>
                        <span class="item">{{ item.data }}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                            <nb-icon icon="pin-outline"></nb-icon>
                        <span class="item">{{ item.local }}</span>
                    </nb-list-item>
                    <nb-list-item class="p-2 center">
                            <nb-icon icon="briefcase-outline"></nb-icon>
                        <span class="item">{{ item.tipo }}</span>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </li>
</ul>