<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
    <nb-card-header>
        Modelos de Documentos
    </nb-card-header>
    <nb-card-body>
        <ng-container *ngIf="step === 1">
            <div class="mb-4">
                <h5>Selecione um médico</h5>
            </div>
            <div class="mb-2 d-flex mt-2">
                <div class="w-100">
                    <ngx-input-simple (ngModelChange)="filtrarMedico($event)" [feedback]="false" [(ngModel)]="searchStep1"
                        placeholder="Buscar médico">
                    </ngx-input-simple>
                </div>
            </div>
            <nb-list>
                <nb-list-item *ngFor="let user of medicosFiltrado" (click)="selecionarMedico(user)">
                    <nb-user [name]="user.nome" title="Médico" [picture]="user.urlFoto">
                    </nb-user>
                    <div class="ml-auto">
                        <nb-icon icon="chevron-right-outline"></nb-icon>
                    </div>
                </nb-list-item>
            </nb-list>
        </ng-container>
        <ng-container *ngIf="step === 2">
            <div class="mb-4">
                <button nbButton shape="round" (click)="setStep(1)" status="info">
                    <nb-icon icon="chevron-left-outline"></nb-icon>
                    {{medicoSelecionado.nome}}
                </button>
            </div>
            <div class="mb-4 d-flex">
                <div class="w-100 mr-4">
                    <ngx-input-simple [feedback]="false" [(ngModel)]="searchStep2" (ngModelChange)="onSearch(searchStep2)"
                        placeholder="Busque algo...">
                    </ngx-input-simple>
                </div>
                <div class="ml-auto">
                    <button nbButton hero status="primary" (click)="novoModelo()">Novo modelo de documento</button>
                </div>
            </div>
            <ng2-smart-table [settings]="settings" [source]="source" (custom)="customAction($event)">
            </ng2-smart-table>
        </ng-container>
    </nb-card-body>
</nb-card>