<nb-card accent="primary" [nbSpinner]="isLoading" nbSpinnerStatus="primary">
    <nb-card-header>
        <div class="d-flex header" [ngClass]="{'minimized': !isOpen}">
            <nb-icon (click)="toggle()" pack="fa" class="mr-4" [icon]="isOpen ? 'times' : 'bars'"></nb-icon>
            <ng-container>
                <nb-calendar *ngIf="isOpen" (dateChange)="changeDia($event)" [filter]="filter" class="mr-4"
                    [(date)]="dataEvent" [showHeader]="false">
                </nb-calendar>
                <!-- <nb-calendar-range class="mr-4" [(range)]="range" [showHeader]="false" *ngIf="isOpen && visao === '2'"
                    (rangeChange)="handleRangeChange($event)">
                </nb-calendar-range> -->
            </ng-container>
            <div class="data mr-4" *ngIf="!isOpen">
                <ng-container>
                    Data selecionada: {{dataEvent | date:'YYYY-MM-DD'}}
                </ng-container>
            </div>
            <div class="statusCalendario mr-4">
                <ng-container *ngIf="isOpen">
                    <label class="label d-block mt-4">Visão</label>
                    <nb-select fullWidth [(ngModel)]="visao" (ngModelChange)="atualizarIndex($event)">
                        <nb-option value="1">Do dia</nb-option>
                        <nb-option value="2">Próximos 5 dias</nb-option>
                    </nb-select>
                    <div class="changeDia mt-4" *ngIf="visao === '1'">
                        <button (click)="changeDiaPainel('anterior')" nbButton status="primary" ghost>
                            <nb-icon icon="chevron-left-outline"></nb-icon>
                        </button>
                        <div>Dia</div>
                        <button (click)="changeDiaPainel('proximo')" nbButton status="primary" ghost>
                            <nb-icon icon="chevron-right-outline"></nb-icon>
                        </button>
                    </div>
                    <div class="changeMes mt-4" *ngIf="visao === '2'">
                        <button (click)="changeMesPainel('anterior')" nbButton status="primary" ghost>
                            <nb-icon icon="chevron-left-outline"></nb-icon>
                        </button>
                        <div>Próximos 5 dias</div>
                        <button (click)="changeMesPainel('proximo')" nbButton status="primary" ghost>
                            <nb-icon icon="chevron-right-outline"></nb-icon>
                        </button>
                    </div>
                    <!-- <label class="label">Legenda</label>
                    <div class="linhaLegenda mt-2">
                        <div class="item livre"></div>
                        <div class="value align-center ml-4">Livre</div>
                    </div>
                    <div class="linhaLegenda mt-2">
                        <div class="item encaixe"></div>
                        <div class="value align-center ml-4">Encaixe</div>
                    </div> -->
                    <button class="legenda-button" (click)="mostrarLegendas()" nbButton status="info"
                        fullWidth>Legendas</button>
                </ng-container>
                <ng-container *ngIf="!isOpen">
                    <div class="changeMes mt-4">
                        <button (click)="visao === '1' ? changeDiaPainel('anterior') : changeMesPainel('anterior')"
                            nbButton status="primary" ghost>
                            <nb-icon icon="chevron-left-outline"></nb-icon>
                        </button>
                        <div>{{visao | visao}}</div>
                        <button (click)="visao === '1' ? changeDiaPainel('proximo') : changeMesPainel('proximo')"
                            nbButton status="primary" ghost>
                            <nb-icon icon="chevron-right-outline"></nb-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
            <div class="filtro" [ngClass]="{'align-center': !isOpen}">
                <ng-container *ngIf="isOpen">
                    <label class="label d-block mt-4">Médicos</label>
                    <nb-select fullWidth placeholder="Selecione" [(ngModel)]="medico">
                        <nb-option value="1">André Domarco</nb-option>
                        <nb-option value="2">Rafael Silveira</nb-option>
                    </nb-select>
                    <label class="label d-block mt-3">Lugares</label>
                    <nb-select fullWidth placeholder="Selecione" [(ngModel)]="lugar">
                        <nb-option value="1">Nova América</nb-option>
                        <nb-option value="2">Madureira</nb-option>
                    </nb-select>
                    <button class="d-block button-filtro" nbButton fullWidth status="primary">Filtrar</button>
                </ng-container>
                <ng-container *ngIf="!isOpen">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mt-2">
                                <label class="label">Médico</label>
                                <span class="ml-4">{{medico | medico}}</span>
                            </div>
                            <div class="mt-2">
                                <label class="label">Lugar</label>
                                <span class="ml-4">{{lugar | lugar}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body *ngIf="data">
        <ngx-calendario-do-dia *ngIf="visao === '1' && dataEvent" [data]="data" [dataSelecionada]="dataEvent">
        </ngx-calendario-do-dia>
        <span *ngIf="visao === '1' && !dataEvent">Selecione uma data!</span>
        <ngx-calendario (infoConsulta)="infoConsulta($event)" (alterarStatus)="alterarStatus($event)" (agendarConsulta)="agendar($event)"
            *ngIf="visao === '2'" (dataSelecionada)="dataSelecionada($event)" [data]="data">
        </ngx-calendario>
    </nb-card-body>
</nb-card>