<nb-card>
    <nb-card-header>
        Usuários
    </nb-card-header>
    <nb-card-body>
        <div class="mb-4 d-flex">
            <div class="w-100 mr-4">
                <ngx-input-simple [feedback]="false" [(ngModel)]="search" (ngModelChange)="onSearch(search)"
                    placeholder="Busque alguem...">
                </ngx-input-simple>
            </div>
            <div class="ml-auto">
                <button nbButton hero status="primary">Adicionar Usuário</button>
            </div>
        </div>
        <ng2-smart-table [settings]="settings" [source]="source" (custom)="customAction($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>