<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" status="primary">
    <nb-card-header>Perfil Bloqueio</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="row">
                <div class="col-sm-6 align-center">
                    <nb-user [name]="medico.nome" [picture]="medico.urlFoto" title="Médico"></nb-user>
                </div>
                <div class="col-sm-6 align-center">
                    <nb-user [name]="consultorio.nome" [picture]="consultorio.urlFoto" title="Consultório"></nb-user>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label d-block mt-1">De</label>
                    <input nbInput fullWidth placeholder="Selecione" [nbDatepicker]="de" formControlName="diaDe">
                    <nb-datepicker #de></nb-datepicker>
                </div>
                <div class="col-sm-6">
                    <ngx-input-mask label="Hora" [feedback]="false" placeholder="00:00" formControlName="horaDe"
                        type="hora" [dropCharacters]="false">
                    </ngx-input-mask>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="label d-block mt-1">Até</label>
                    <input nbInput fullWidth placeholder="Selecione" [nbDatepicker]="ate" formControlName="diaAte">
                    <nb-datepicker #ate></nb-datepicker>
                </div>
                <div class="col-sm-6">
                    <ngx-input-mask label="Hora" [feedback]="false" placeholder="00:00" formControlName="horaAte"
                        type="hora" [dropCharacters]="false">
                    </ngx-input-mask>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <ngx-text-area-simple label="Observação" formControlName="observacao" placeholder="Descrição">
                    </ngx-text-area-simple>
                </div>
                <div class="col-sm-2 align-center">
                    <nb-checkbox class="mt-2" status="primary" formControlName="status">Ativo</nb-checkbox>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="mr-4" nbButton status="basic" (click)="dismiss(false)">Voltar</button>
    </nb-card-footer>
</nb-card>